<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
    
    <meta name="description" content="Cordelia McGee-Tubb is a person with a website.">
    <meta name="author" content="Cordelia McGee-Tubb">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cordelia | Talks</title>
    <link rel="stylesheet" href="../css/tachyons.min.css"/>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <header class="mw8 center tc">
      <a href="../">
        <h1 class="tracked b mt4 mb2 tc">
          <img class="w-80" src="../images/cordelia--name.png" alt="Cordelia McGee-Tubb"/>
        </h1>
      </a>
    </header>

    <nav class="tc pb3">
      <ul class="list b f3 ma0 pa0 tracked ttu">
        <li class="dib-ns mr4-ns mb2"><a href="http://www.cordeliadillon.com/about/">About</a></li>
        <li class="dib-ns mr4-ns mb2"><a href="http://www.cordeliadillon.com/comics/">Comics</a></li>
        <li class="dib-ns mr4-ns mb2"><a href="http://www.cordeliadillon.com/technology/">Tech</a></li>
        <li class="dib-ns mr4-ns mb2"><a href="http://www.cordeliadillon.com/talks/" aria-current="page">Talks</a></li>
        <li class="dib-ns mb2"><a href="http://www.cordeliadillon.com/etcetera/">Etc.</a></li>
      </ul>
    </nav>

    <main class="mw8 center pv3 ph4 lh-copy" ng-app="talks" ng-controller="TalksController">
      <div class="cf">

        <section class="fr w-100 w-50-ns pl4-ns ng-cloak" ng-cloak>
          <h2 class="f3 mb0">Upcoming Talks</h2>
          <p ng-if="upcomingTalks.length == 0">
            No upcoming talks scheduled!
          </p>
          <ul class="list pa0 ma0 cf">
            <li class="" ng-repeat="talk in upcomingTalks">
              <h3 class="mb0 f4" id="{{talk.id}}">{{talk.title}}</h3>
              <p class="mv0 f4">
                {{talk.eventDate}},
                <a ng-if="talk.eventHref" href="{{talk.eventHref}}">{{talk.eventName}}</a>
                <span ng-if="!talk.eventHref">{{talk.eventName}}</span>
              </p>
              <p class="mv0">{{talk.blurb}}</p>
              <p ng-if="talk.themeString" class="mv0">
                {{talk.themeString}}
              </p>
              <p ng-if="talk.links" class="mv0">
                <span ng-repeat="link in talk.links">
                  <span class="ph1 b" ng-if="$index != 0">&middot;</span>
                  <a href="{{link.href}}" aria-describedby="{{talk.id}}">{{link.name}}</a>
                </span>
              </p>
            </li>
          </ul>

          <h2 class="mt4 mb0">Past Talks</h2>
          <ul class="list pa0 ma0 cf">
            <li class="" ng-repeat="talk in pastTalks">
              <h3 class="mb0 f4" id="{{talk.id}}">{{talk.title}}</h3>
              <p class="mv0 f4">
                {{talk.eventDate}},
                <a ng-if="talk.eventHref" href="{{talk.eventHref}}">{{talk.eventName}}</a>
                <span ng-if="!talk.eventHref">{{talk.eventName}}</span>
              </p>
              <p class="mv0">{{talk.blurb}}</p>
              <p ng-if="talk.themeString" class="mv0">
                {{talk.themeString}}
              </p>
              <p ng-if="talk.links" class="mv0">
                <span ng-repeat="link in talk.links">
                  <span class="ph1 b" ng-if="$index != 0">&middot;</span>
                  <a href="{{link.href}}" aria-describedby="{{talk.id}}">{{link.name}}</a>
                </span>
              </p>
            </li>
          </ul>
        
        </section>
        
        <section class="fr w-100 w-50-ns pr4-ns">
          <img class="w-100" src="public-speaking.jpg" alt="Illustration of Cordelia pointing at a projector screen that says, 'Public Speaking'" />
          
          <p>
            I love talking about accessibility, digital literacy, and the intersection of comics and inclusive design!
            Here you'll find links to some of the events and articles where I've done just that.
          </p>
          <p>
            I get a lot of requests to visit companies to speak with their internal teams about accessibility. While I'm
            flattered by these requests and super excited to see more companies keen on weaving accessibility further into
            their products &amp; processes, I no longer do private talks at tech companies. Sorry folks, I've got my hands full doing
            such talks at my own company!
          </p>
          
          <div>
            <h2 class="mt4">New Podcast: <a href="https://www.bemyeyes.com/podcasts-show/13-letters" target="_blank">13 Letters</a></h2>
            <p class="mv0">
              <a href="https://www.linkedin.com/in/will-butler-29132665" target="_blank">Will Butler</a> and I co-host <a href="https://www.bemyeyes.com/podcasts-show/13-letters" target="_blank">13 Letters</a>, a podcast in which we interview the world's leading accessibility minds, talking about what they do and why they do it.
            </p>
          </div>

    	    <div class="ng-cloak" ng-cloak>
    	      <h2 class="mt4">Articles, etc.</h2>
    	      <p class="mb0">Sometimes I write or otherwise contribute to articles and blog posts. Here are some from recent years:</p>
    	      <ul class="list pa0 ma0 cf">
    	        <li ng-repeat="post in features">
    	          <h3 class="mb0">
    	            <a ng-if="post.href" href="{{post.href}}">{{post.title}}</a>
    	          </h3>
    	          <p class="mv0">
    	            {{post.date}} &middot; {{post.role}} <span ng-if="post.publication">&middot;  {{post.publication}}</span>
    	          </p>
    	        </li>
    	      </ul>
          </div>

          <div class="ng-cloak" ng-cloak>
            <h2 class="mt4">Interviews</h2>
            <ul class="list pa0 ma0 cf">
              <li ng-repeat="interview in interviews">
                <h3 class="mb0">
                  <a ng-if="interview.href" href="{{interview.href}}">{{interview.title}}</a>
                </h3>
                <p class="mv0">
                  {{interview.date}} <span ng-if="interview.publication">&middot;  {{interview.publication}}</span>
                </p>
              </li>
            </ul>
          </div>

          <!--
          <h2>Need a bio?</h2>

          <h2>Need a photo?</h2>
          <p>My preferred avatar is this illustrated self portrait:</p>
          <img class="w-100" src="cordelia-drawn.jpg" alt="illustrated headshot of Cordelia"/>
          <p>But if you need a real photo, here's one <a href="https://www.facebook.com/Tyler-Driscoll-Photography-321099929600/" target="_blank">Tyler</a> took when we were walking the perimeter of San Francisco:</p>
          <img class="w-100" src="cordelia-bright.jpg" alt="Cordelia sitting in a pink chair against a green background, holding a speech balloon sign that says 'Cheers'"/>-->
               
        </section>
      </div>
      
      <aside class="pt5 tc social-media">
        <a class="dib p0 mr2" href="https://www.twitter.com/cordeliadillon" target="_blank" title="@cordeliadillon on Twitter">
          <img src="../images/s--twitter.png" alt="Twitter"/>
        </a>
        <a class="dib p0 mr2" href="https://www.instagram.com/cordeliadillon/" target="_blank" title="@cordeliadillon on Instagram">
          <img src="../images/s--instagram.png" alt="Instagram"/>
        </a>
        <a class="dib p0 mr2" href="https://www.linkedin.com/in/cordeliamcgeetubb" target="_blank" title="Cordelia on LinkedIn">
          <img src="../images/s--linkedin.png" alt="LinkedIn"/>
        </a>
        <a class="dib p0 mr2" href="http://tinyletter.com/cordeliadillon" target="_blank" title="Cordelia's comics newsletter">
          <img src="../images/s--newsletter.png" alt="Newsletter"/>
        </a>
        <a class="dib p0" href="http://echothroughthefog.tumblr.com" target="_blank" title="Echo Through the Fog on Tumblr">
          <img src="../images/s--tumblr.png" alt="Tumblr"/>
        </a>
      </aside>
    </main>

    <footer class="tc pa4">
      &copy; Cordelia McGee-Tubb 2021
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Hind Guntur', 'Montserrat']
        },
        custom: {
          families: ['Cordelia Handwriting']
        }
      });
    </script>
    <script src="angular.min.js"></script>
    <script src="data.js"></script>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10657781-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  </body>
</html>
