@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
  font-family: 'Cordelia Handwriting';
  src: url('../fonts/CordeliaHandwriting.ttf');
}

body {
  background: black;
  color: #ecf0f1;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
}

h1.handwritten {
  letter-spacing: .17em;
  font-size: 3.2em;
  font-family: 'Cordelia Handwriting', Helvetica, san-serif;
}

.beta {
  font-size: 1.4rem;
  letter-spacing: .13em;
  position: relative;
  vertical-align: top;
}

code {
  font-size: 1.4em;
}

p {
  margin: 0 auto;
  width: 600px;
  max-width: 90%;
  line-height: 1.4em;
}

a, a:visited {
  color: #ecf0f1;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.comic {
  margin: 0 auto;
  padding: 0 20px;
  /*white-space: nowrap;*/
  min-height: 300px;
}

.reversed .tier {
  text-align: left;
}

.tier {
  margin: 60px auto;
  text-align: right;
  white-space: nowrap;
}

.tier:first-child {
  margin-top: 30px;
}

.panel {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  margin: 4px;
  
  text-align: center;
  white-space: normal;

  border: 2px solid #222;
  background-color: white;
  background-size: 100%;
}

.speech {
  position: absolute;
  display: flex;
  width: 50%;

  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.4rem;
  color: black;
}

img {
  width: 100%;
  height: 100%;
}

.b {
  background: black;
  background-size: 100%;
  border-color: #1b1b1b;
}

.about {
  display: none;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 1.4em;
}

.about ul, .about p {
  text-align: left;
}

.about li {
  padding: 5px;
}

button {
  background: black;
  color: #ecf0f1;
  border: 2px solid #222;
  padding: 20px;
  font-weight: 600;
  /*text-transform: uppercase;*/
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover, button:focus {
  background: #222;
}

.button--primary {
  font-size: 20px;
}


body.bright {
  background: white;
  color: black;

}

body.bright button {
  background: white;
  color: black;
}

body.bright button:hover, body.bright button:focus {
  background: #e8e7e7;
}

body.bright .panel.b {
  background: #e8e7e7;
}


@media screen and (max-width: 600px) {
  .comic {
    padding: 0;
  }

  .panel {
    display: block;
    margin: 10px auto;
  }

  .tier {
    margin-top: 100px;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  h1.handwritten {
    font-size: 2em;
  }
}