<!DOCTYPE html>
<html>
  <head>
    <title>Clickable Div Example</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script>
      var app = angular.module( 'app', [] );
      app.controller( 'AppController', function( $scope ) {
        // we control our app from here

        $scope.reveal = function(clickTarget) {
          $scope.revealString = "You clicked on " + clickTarget + ".";
        }
      });
    </script>
  </head>
  <body ng-app="app" ng-controller="AppController">

    <div ng-click="reveal('a div')" class="button">Sign Up</div>

    <div ng-click="reveal('a div with tabindex=0')" class="button" tabindex="0">Sign Up</div>

    <a href="javascript:void(0)" ng-click="reveal('an anchor with a href')" class="button">Sign Up</a>

    <a ng-click="reveal('an anchor without a href')" class="button">Sign Up</a>

    <a ng-click="reveal('an anchor with tabindex=0 and no href')" class="button" tabindex="0">Sign Up</a>

    <button ng-click="reveal('a button')" class="button">Sign Up</button>

    <div>{{revealString}}</div>

  </body>
</html>
